Repository show-coco/cloud-town, pull requests merged in 2021-06, with the labels that each got.

#6 バックエンドのディレクトリ構造を変更
  server/src/core/adapter/graphql/resolver.ts
  server/src/core/adapter/infrastructure/.gitkeep
  server/src/core/domain/services/.gitkeep
  server/src/core/usecase/community/CommunityUseCase.ts
Labels: server

#8 Feature Server jest導入とそれに伴うリファクタ
  .github/workflows/server.yml
  server/.env.ci
  server/.env.example
  server/.eslintignore
  server/.eslintrc.js
  server/.gitignore
  server/jest.config.js
  server/package.json
  server/src/@types/express/index.d.ts
  server/src/@types/global.d.ts
  server/src/app.spec.ts
  server/src/app.ts
  server/src/auth/google.ts
  server/src/auth/jwt.ts
  server/src/core/adapter/rest/routes/auth.routes.ts
  server/src/enum/app/PathMapping.ts
  server/src/server.ts
  server/src/settings.ts
  server/tsconfig.json
  server/yarn.lock
Labels: server, server-package-json

#9 Feature community作成をとりあえずできるようになった
  server/README.md
  server/src/core/adapter/graphql/resolver.ts
  server/src/core/adapter/graphql/schema.ts
  server/src/core/adapter/repository/CommunityRepository/ICommunityRepository.ts
  server/src/core/adapter/repository/CommunityRepository/PCommunityRepository.ts
  server/src/core/domain/entities/Community.ts
  server/src/core/usecase/community/CommunityUseCase.ts
  server/src/types/README.md
  server/src/types/graphql.d.ts
  server/yarn.lock
Labels: server, server-package-json

#11 チャンネル作成機能実装
  server/prisma/migrations/20210624090846_add_channel_table/migration.sql
  server/prisma/migrations/20210624091024_add_is_private_column_to_channel_table/migration.sql
  server/prisma/migrations/20210624104021_add_channel_member_table/migration.sql
  server/prisma/schema.prisma
  server/src/core/adapter/graphql/resolver.ts
  server/src/core/adapter/graphql/schema.ts
  server/src/core/adapter/repository/ChannelRepository/IChannelRepository.ts
  server/src/core/adapter/repository/ChannelRepository/PChannelRepository.ts
  server/src/core/domain/entities/Channel.ts
  server/src/core/domain/services/.gitkeep
  server/src/core/domain/services/ChatService.ts
  server/src/core/usecase/chat/ChannelUseCase.ts
  server/src/core/usecase/chat/ChannelUseCaseProps.ts
  server/src/types/context.d.ts
  server/src/types/graphql.d.ts
Labels: server

#10 Feature communityにカラムの追加
  server/README.md
  server/prisma/migrations/20210622131355_some_columns_to_community/migration.sql
  server/prisma/migrations/20210625022127_add_deleted_at_to_community/migration.sql
  server/prisma/schema.prisma
  server/src/app.ts
  server/src/auth/jwt.ts
  server/src/core/adapter/graphql/resolver.ts
  server/src/core/adapter/graphql/scalar.ts
  server/src/core/adapter/graphql/schema.ts
  server/src/core/adapter/repository/CommunityRepository/CommunityRepositoryParam.ts
  server/src/core/adapter/repository/CommunityRepository/ICommunityRepository.ts
  server/src/core/adapter/repository/CommunityRepository/PCommunityRepository.ts
  server/src/core/domain/entities/Community.ts
  server/src/core/usecase/community/CommunityUseCase.spec.ts
  server/src/core/usecase/community/CommunityUseCase.ts
  server/src/core/usecase/community/CommunityUseCaseParam.ts
  server/src/types/graphql.d.ts
Labels: server

#12 ヘッダーのスマホ対応
  client/.node-version
  client/README.md
  client/src/components/atoms/select/index.tsx
  client/src/components/molecules/navigation/index.tsx
  client/src/components/molecules/navigation/style.module.scss
  client/src/components/organisms/header/index.tsx
  client/src/components/organisms/header/style.module.scss
  client/src/config/theme.ts
Labels: client
